<h1>Tasks</h1>

<h2>Uncompleted tasks:</h2>
<ul>
  <% @tasks.each do |task| %>
    <% if task.done = false %>
      <div style="border-bottom: 2px solid red">
      <li><a href="tasks/<%= task.id %>"><%= task.name %></a></li>
      <span style="margin-left: 20px"><%= task.description%></span>
      <form action="<%= task.id %>/edit" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="done" type="hidden" value="true">
        <button>Mark done</button>
        </form>
      </div>
    <% end %>
  <% end %>
</ul>

<h2>Completed tasks:</h2>
<ul>
  <% @tasks.each do |task| %>
    <% if task.done = true %>
      <div style="background-color: red">
      <li><%= task.name %></li>
      <span style="margin-left: 20px"><%= task.description%></span>
      </div>
    <% end %>
  <% end %>
</ul>

<h2>Add Task</h2>
<form action="/tasks" method="post" style="background-color: lightblue;">
  <h2>Task</h2>
  <title for="new_task">Insert task name:</title>
  <input id="new_task" name="name" type="text">
  <h4>Description</h4>
  <title for="new_task_description">Insert task description:</title>
  <input id="new_task_description" name="description" type="text">
  <button>Submit New Task >></button>
</form>

